
:root {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  display: flex; 
  place-items: center; 
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background: rgb(131, 58, 180);
  background: linear-gradient(180deg, rgba(131, 58, 180, 1) 0%, rgba(189, 168, 227, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}


.app {
  background-color: white; 
  color: black;            
  padding: 2rem;
  border-radius: 20px;     
  box-shadow: 0 10px 25px rgba(0,0,0,0.2); 
  text-align: center;
  max-width: 500px;
  width: 90%;
}


h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 background-image: -webkit-linear-gradient(0deg, #833ab4 0%, #bda8e3 37%, #fcb045 100%);
  -webkit-background-clip: text;
}

.button {
  background-color: #4CAF50; /* Verde */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition: transform 0.1s;
}

.button:active {
  transform: scale(0.95);
}

.button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}


.result-container p {
  color: black; 
  font-size: 1.2rem;
}

#error p {
  color: red;
}